name: CI

permissions: {}

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - main
      - master
      - renovate/**

jobs:
  ci-optimization:
    name: CI optimization
    uses: dargmuesli/github-actions/.github/workflows/ci-optimization.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      pull-requests: read
  release_semantic_dry:
    needs: ci-optimization
    if: needs.ci-optimization.outputs.continue == 'true'
    name: Release (semantic, dry)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      DRY_RUN: true
  build:
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    needs: release_semantic_dry
    permissions:
      packages: write
    with:
      ARTIFACT_PATH: src/.output/public/
      BUILD_ARGUMENTS: |
        SITE_URL=https://dargstack-example.jonas-thelemann.de
      TAG: ${{ needs.release_semantic_dry.outputs.new_release_version }}
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  release_semantic:
    needs: build
    name: Release (semantic)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      contents: write
      id-token: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  deploy:
    needs: build
    name: Deploy
    uses: dargmuesli/github-actions/.github/workflows/deploy-cloudflare-pages.yml@a5dc6e8243538aa44ebc8ef9c4a2d2ace56569f8 # 3.2.2
    permissions:
      contents: read
      deployments: write
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    with:
      ACCOUNT_ID: f00135e2a8cc575a4bc4817c9521fe71
      BRANCH: ${{ github.head_ref || github.ref_name }}
      PROJECT_NAME: ${{ github.event.repository.name }}
