name: CI

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - alpha
      - beta
      - master
      - renovate/**

jobs:
  prepare_jobs:
    name: "Prepare: job optimization"
    runs-on: ubuntu-latest
    outputs:
      pr_found: ${{ steps.pr.outputs.pr_found }}
    steps:
      - name: Get current PR
        id: pr
        uses: 8BitJonny/gh-get-current-pr@4.0.0
        with:
          filterOutClosed: true
          filterOutDraft: true
  release_semantic_dry:
    needs: prepare_jobs
    name: Release (semantic, dry)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@2.7.0
    if: needs.prepare_jobs.outputs.pr_found == 'false' || github.event_name == 'pull_request'
    permissions:
      contents: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
    with:
      DRY_RUN: true
  build:
    name: Build
    uses: dargmuesli/github-actions/.github/workflows/docker.yml@2.7.0
    needs: release_semantic_dry
    permissions:
      packages: write
    with:
      ARTIFACT_PATH: src/.output/public/
      BUILD_ARGUMENTS: SITE_URL=https://dargstack-example.jonas-thelemann.de
      TAG: ${{ needs.release_semantic_dry.outputs.new_release_version }}
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  release_semantic:
    needs: build
    name: Release (semantic)
    uses: dargmuesli/github-actions/.github/workflows/release-semantic.yml@2.7.0
    permissions:
      contents: write
    secrets:
      PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
  deploy:
    needs: build
    name: Deploy
    uses: dargmuesli/github-actions/.github/workflows/deploy-cloudflare-pages.yml@2.7.0
    permissions:
      contents: read
      deployments: write
    secrets:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
    with:
      ACCOUNT_ID: f00135e2a8cc575a4bc4817c9521fe71
      BRANCH: ${{ github.head_ref || github.ref_name }}
      PROJECT_NAME: ${{ github.event.repository.name }}
